
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;

  } 
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  @font-face {
    font-family: "MyFont";
    src: url("./assets/Mark\ Simonson\ \ Proxima\ Nova\ Regular.otf")
      format("opentype");
  }
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  html {
    overflow-x: hidden;
  }
  /* nav */
  .top-container {
    position: sticky;
    z-index: 6;
    top: 0;
    background-color: #fef3bd;
    height: 25px;
    width: 100%;
  }
  .top {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #66614c;
    font-size: 0.8rem;
    font-family: "MyFont", sans-serif;
  }
  
  .top-header-left ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 1rem;
    padding: 0.3rem;
    color: #0009;
  }
  
  .top-header-right ul {
    display: flex;
    list-style: none;
    width: 270px;
    padding: 0.3rem;
    justify-content: space-between;
  }
  .top-header-left ul li a {
    list-style: none;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-size: 0.7rem;
    color: #66614c;
  }
  /*********************/
  .switch {
    display: inline-block;
    height: 14px;
    position: relative;
    width: 30px;
  }
  
  .switch input {
    display: none;
  }
  
  .slidered {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
  }
  
  .slidered:before {
    background-color: #fff;
    content: "";
    height: 14px;
    left: 2px;
    position: absolute;
    transition: 0.4s;
    width: 14px;
  }
  
  input:checked + .slidered {
    background-color: #66bb6a;
  }
  
  input:checked + .slidered:before {
    transform: translateX(13px);
  }
  
  .slidered.rounded {
    border-radius: 34px;
  }
  
  .slidered.rounded:before {
    border-radius: 50%;
  }
  
  /**********************/
  .heading {
    color: black;
    font-weight: 700;
    font-size: 0.75rem;
    z-index: 8;
  }
  @media screen and (max-width: 780px) {
    .top-container {
      height: 50px;
    }
    .top {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .top-header-right ul {
      justify-content: left;
      width: 300px;
    }
    .top-header-right li {
      margin-right: 15px;
    }
  }
  @media screen and (max-width: 447px) {
    .top-header-left ul li a {
      letter-spacing: 0.7px;
    }
  }
  @media screen and (max-width: 408px) {
    .top-header-left ul {
      gap: 10px;
      justify-content: space-between;
      padding: 0;
    }
  }
  /* top mav bar section end   */
  /* main nav bar start  */
  
  .header-container {
    position: sticky;
    top: 25px;
    width: 100vw;
    height: 70px;
    z-index: 10;
    background-color: #00b0b5;
    font-family: "MyFont", sans-serif;
  }
  .header {
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
  }
  
  .header li {
    list-style: none;
    color: white;
    letter-spacing: 1.2px;
  }
  .header > ul {
    display: flex;
    height: 70px;
    align-items: center;
    width: 545px;
    justify-content: space-between;
  }
  .header i {
    color: white;
  }
  .header form {
    position: relative;
  }
  .header form i {
    position: absolute;
    right: 13px;
    bottom: 30%;
  }
  .header form input {
    background-color: #00b0b5;
    border: 1px solid white;
    border-radius: 10px;
    height: 40px;
    width: 240px;
    outline: none;
  }
  .header form input::placeholder {
    color: white;
    font-size: 0.7rem;
    padding-left: 15px;
  }
  .pantaloon-logo > a > img {
    height: 20px;
    position: relative;
    top: 33%;
  }
  .var-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    position: relative;
    right: 10px;
  }
  #Capa_1 {
    position: relative;
    bottom: 1px;
    right: 8px;
  }
  .hidden-icon {
    font-size: xx-large;
    display: none;
    height: 60px;
    position: absolute;
    top: 25%;
    left: 10px;
    transition: 0.1s linear;
  }
  .pantaloon-logo {
    height: 70px;
  }
  .hidden-icon-menu {
    display: none;
  }
  .hidden-icon:hover .hidden-icon-menu {
    display: block;
  }
  .hidden-icon-menu {
    background-color: #faf8f8;
    transition: 0.1s linear;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    padding: 0 30px;
    z-index: 8;
  }
  .hidden-icon-menu a {
    color: black;
    display: block;
    font-size: 1rem;
    padding: 10px 16px;
    font-family: "MyFont", sans-serif;
  }
  .hidden-icon-men hr {
    border-top: 1px solid black;
    margin: 0 40px;
  }
  .form-hidden {
    display: none;
  }
  .form-hidden input {
    background-color: #00b0b5;
    width: 110px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    padding-left: 5px;
  }
  .form-hidden input::placeholder {
    padding: 10px;
    color: white;
    font-size: 0.6rem;
  }
  .form-hidden i {
    color: black;
    font-size: medium;
  }
  @media screen and (max-width: 1208px) {
    .header > ul {
      width: 400px;
    }
    .pantaloon-logo > a > img {
      padding-left: 10px;
    }
  }
  @media screen and (max-width: 1100px) {
    .hidden-icon {
      display: block;
    }
    .header ul {
      display: none;
    }
    .pantaloon-logo > a > img {
      padding-left: 50px;
    }
    .header form input {
      width: 500px;
    }
  }
  @media screen and (max-width: 970px) {
    .header form input {
      width: 300px;
    }
  }
  @media screen and (max-width: 780px) {
    .header-container {
      top: 50px;
    }
  }
  @media screen and (max-width: 708px) {
    .var-icons {
      display: none;
    }
    .header form {
      margin-right: 25px;
    }
  }
  @media screen and (max-width: 570px) {
    .header form input {
      width: 225px;
    }
  }
  @media screen and (max-width: 480px) {
    .header form {
      display: none;
    }
    .form-hidden {
      display: block;
    }
    .pantaloon-logo {
      margin: 0 auto 10px auto;
      padding: 0;
    }
  }
  
  /*********************/
  
  .yellow-bar {
    display: none;
    width: 40px;
    height: 5px;
    background-color: #ffc929;
    position: absolute;
    top: 65px;
  }
  
  .li-dropdown {
    display: none;
    height: 370px;
    width: 1070px;
    position: absolute;
    top: 70px;
    background: linear-gradient(to right, white 65%, #f6f6f6 35%);
    left: -200px;
    border-radius: 10px;
  }
  .ul-nav {
    position: relative;
  }
  
  .brands-yellow-bar,
  .women-yellow-bar,
  .beauty-yellow-bar {
    width: 70px;
  }
  .home-yellow-bar {
    width: 50px;
  }
  
  .kids-li-dropdown {
    padding: 20px;
    display: none;
    font-size: 0.7rem;
    line-height: 1.2rem;
    letter-spacing: 0.05rem;
    overflow-y: auto;
    gap: 60px;
    font-weight: 600;
  }
  .kids-li-dropdown div,
  .men-li-dropdown div {
    margin-bottom: 20px;
  }
  .li-dropdown li a {
    font-size: 0.7rem;
    font-weight: 100;
  }
  .kids li a:hover,
  .kids p:hover {
    color: #00b0b5;
  }
  .kids-button button,
  .women-button button,
  .men-button button {
    padding: 5px 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: white;
    font-size: 0.7rem;
    cursor: pointer;
    margin-top: 10px;
  }
  .kids-li-dropdown::-webkit-scrollbar {
    width: 12px;
  }
  .kids-li-dropdown::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  .kids-li-dropdown::-webkit-scrollbar-thumb {
    background: #a8a8a8;
  }
  
  .women-li-dropdown,
  .men-li-dropdown {
    padding: 20px;
    display: none;
    font-size: 0.7rem;
    line-height: 1.2rem;
    letter-spacing: 0.05rem;
    gap: 90px;
    font-weight: 600;
  }
  
  .home-li-dropdown,
  .beauty-li-dropdown {
    padding: 20px;
    display: none;
    font-size: 0.7rem;
    line-height: 1.2rem;
    letter-spacing: 0.05rem;
    gap: 90px;
    font-weight: 600;
    background: white;
  }
  
  .kids ul li,
  .women ul li {
    list-style: none;
  }
  .kids ul li a,
  .kids ul li,
  .kids p,
  .women ul li a,
  .women ul li,
  .women p,
  .home ul li a,
  .home ul li,
  .home p,
  .beauty ul li a,
  .beauty ul li,
  .beauty p,
  .men ul li a,
  .men ul li,
  .men p {
    color: black;
    transition: 0.1s linear;
  }
  
  .kids:hover .kids-yellow-bar,
  .kids:hover .kids-li-dropdown,
  .men:hover .men-yellow-bar,
  .men:hover .men-li-dropdown,
  .women:hover .women-yellow-bar,
  .women:hover .women-li-dropdown,
  .home:hover .home-yellow-bar,
  .home:hover .home-li-dropdown,
  .beauty:hover .beauty-yellow-bar,
  .beauty:hover .beauty-li-dropdown,
  .brands:hover .brands-yellow-bar {
    display: flex;
  }
  
  /***************************/
  
  /***************************/
  

/* top mav bar section end   */
/* main nav bar start  */
.nav-bar {
    display: flex;
    position: fixed;
    top: 3rem;
    z-index: 5;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #00B0B5;
    gap: 2rem;
    color: #FFFFFF;
    width: 100%;
    /* padding: 0.5rem; */
}

.nav-bar .nav-left img {
    display: flex;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;

    width: 160px;
}

.nav-bar .nav-center>ul {
    position: relative;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 3.5rem;
    padding: 1rem;

}
/* ************************** */
 
.lists
{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
   opacity: 0;
   position: absolute;
   top: 30px;
   visibility: hidden;
   z-index: 1;
   transition: all 0.5s ease-in-out;
}

 li:hover .lists
{
   background-color:white;
   opacity: 0.8;
   top:60px;
   visibility: visible;
    color: black;
    z-index: 10;
   
}
.nav-center .lists .list1 ul{
    list-style: none;

}
.nav-center .lists .list1 ul li:hover{
    border: none;
    cursor: pointer;
    color: #00B0B5;
}
.nav-center .lists .list1 h4{
    padding: 0.5rem 0;
    font-size: 0.85rem;
}

 


/* ****************************** */
.nav-bar .nav-center>ul li a
{
    color: white;
    text-decoration: none;
}

.nav-bar .nav-center>ul li:hover{
    border-bottom: 2px solid yellow;
}

.nav-bar .nav-right {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.nav-bar .nav-right input {

    background-color: transparent;
    border: 1px solid white;
    color: white;
    height: 2rem;
    width: 220px;
    padding: 0.5rem;
    border-radius: .5rem;

}

.nav-bar .nav-right form input::placeholder {
    color: white;
}

@media only screen and (max-width: 1507px) {
    div .top,nav{
        overflow: hidden;
    }
}
/*
@media only screen and (max-width: 600px) {
    .nav-bar {

        font-size:smaller;
        flex-direction:column;
        overflow-x: scroll;

        

    }
} */

/* main nav bar end  */
/* ******************************************************************** */
.sliding-button {
    position: relative;
    margin: 0.2rem;
    width: 40px;
    height: 10px;
    background-color: #ccc;
    border-radius: 15px;
    overflow: hidden;
}


/* The sliding button itself */
.sliding-button input {
    display: none;
}

/* The sliding button's label (the visible part) */
.sliding-button label {
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 50%;
    height: 100%;
    background-color: #ACB4B0;
    transition: transform 0.3s ease;
}

.sliding-button input[type="checkbox"]:checked+label {
    transform: translateX(100%);
}
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
    
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    display: flex;
    margin: 0;
    padding: 0;
    border: 0px;
    font-size: 100%;
    font: inherit;
    vertical-align: initial;
    background: #00b0b5;
    height:30%;
  }
  header a{
    text-decoration: none;
    color: white;

  }

  header h1 {
    margin: 0;
    font-size: 24px;
  }
  .home_section{
    position:none;
    margin-top: 0 auto;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  nav li {
    display: inline;
    margin-right: 20px;
    color: rgba(0, 0, 0, 0.54);
  }

  nav a {
    color: #fff;
    text-decoration: none;
  }

  .search-container {
    display: flex;
    align-items: center;
  }

  .search-input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 10px;
  }

  .btn-search {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }

  .main-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .left-nav {
    width: 20%;
  }

  .left-nav ul {
    list-style-type: none;
    padding: 0;
  }

  .left-nav li {
    margin-bottom: 10px;
    cursor: pointer;
  }

  .right-nav {
    width: 75%;
  }

  .search-container {
    margin-bottom: 20px;
    max-width:900px;
    justify-content:right;

    
  }

  .search-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap:-20px;
    margin-right:100px;
    border:none;

  }
  

  .card {
    background-color:#ffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    border-color: #ffff;
  }
  .card:hover{
    cursor:pointer;
   
  }

  .card img {
    max-width:100%;
    height: auto;
    border-radius: 20px;
  }

  .card-info {
    margin-top: 10px;
  }

  .card-info h3 {
    margin: 0;
    font-size: 16px;
  }

  .price {
    font-weight: bold;
    color: green;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }

  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .footer-column {
    width: 20%;
  }

  .footer-column h3 {
    font-size: 16px;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
  }

  .footer-column ul {
    list-style-type: none;
    padding: 0;
  }

  .footer-column li {
    margin-bottom: 5px;
  }

  .footer-column a {
    color: #fff;
    text-decoration: none;
  }
  #sort{
    margin:10px;
    padding:20px;
    border-radius: 10px;
   
    margin-top: 4px;
    font-size: 100%;
    font: inherit;
    vertical-align: initial;

  }
  .home_section{
    text-align: center;
    font-size: 24px;
    color: #000;
    font-family: Trirong, serif;
    margin: 0 auto 28px;
    text-transform: capitalize;
    text-align: -webkit-center;
    font-style: italic;
  }
  .search-container p{
    font-size:large;
  }
  .view{
    margin-top: 14px;
    border: 1px solid #000;
    border-radius: 25px;
    padding: 8px 12px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    display: none;
  }
  .scroll{
    border:none;
    padding:20px;
    font:sans-serif;
    
    height:500px;
   overflow:scroll; 
   position: sticky;
   top: 120px;
  }
  ::-webkit-scrollbar{
    width:12px;
    height:12px;
  }
  ::-webkit-scrollbar-track{
    border:2px solid #00b0b5;
    border-radius:10px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background:#00b0b5;
  }
  /* footer */
  @font-face {
    font-family: "MyFont";
    src: url("./assets/Mark\ Simonson\ \ Proxima\ Nova\ Regular.otf")
      format("opentype");
  }
  .webnews-latter {
    max-width: 1090px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    gap: 1rem;
  }
  .webnews-latter h5 {
    font-family: "MyFont", sans-serif;
    font-size: 0.7rem;
    letter-spacing: 1px;
  }
  .webnews-latter .center-section form input {
    width: 350px;
    outline: none;
    border: 1px solid #e0e0e0;
    padding: 0.5rem 1rem;
    border-radius: 10px;
  }
  .webnews-latter .center-section form input::placeholder {
    font-size: 0.7rem;
    opacity: 0.8;
  }
  .webnews-latter form {
    position: relative;
  }
  .webnews-latter form label {
    color: #00b0b5;
    font-family: "MyFont", sans-serif;
    letter-spacing: 1.2px;
    font-weight: 600;
    font-size: 0.8rem;
    position: absolute;
    right: 10px;
    bottom: 25%;
    transition: 0.1s linear;
    cursor: pointer;
  }
  .webnews-latter form label:hover {
    color: black;
  }
  .left-most-section {
    display: flex;
    gap: 20px;
  }
  .webnews-latter .right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .webnews-latter .right-section span a i {
    color: black;
  }
  
  @media screen and (max-width: 1130px) {
    .webnews-latter {
      flex-direction: column;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media screen and (max-width: 678px) {
    .webnews-latter .left-most-section {
      flex-direction: column;
      align-items: center;
    }
  }
  /* webnews-latter */
  /* mui-container-root */
  .mui-container-root {
    width: 100%;
    background-color: #d2fdff;
  }
  .mui-container-root-inside {
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem 0;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  
  .mui-container-root img {
    width: 40 px;
    padding-bottom: 2rem;
  }
  .mui-container-root span p {
    font-size: 0.8rem;
  }
  .mui-container-root h5 {
    font-family: "MyFont", sans-serif;
    font-size: 0.7rem;
    letter-spacing: 1.1px;
    font-weight: 600;
  }
  .mui-container-root span {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .mui-container-root-inside .first h5 {
    position: relative;
    bottom: 7px;
  }
  @media screen and (max-width: 750px) {
    .mui-container-root-inside span {
      width: 100px;
    }
  }
  @media screen and (max-width: 520px) {
    .mui-container-root-inside {
      flex-wrap: wrap;
    }
    .mui-container-root-inside span {
      width: 150px;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
  @media screen and (max-width: 470px) {
    .mui-container-root-inside {
      flex-wrap: wrap;
    }
    .mui-container-root-inside span {
      width: 115px;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
  /* mui-container-root */
  
  /* persion-catgory */
  .persion-catgory {
    max-width: 1060px;
    margin: 0 auto;
    padding: 40px 0 10px 0;
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex-wrap: wrap;
  }
  .persion-catgory ul {
    font-size: 0.65rem;
    list-style: none;
    line-height: 1rem;
    letter-spacing: 0.2px;
  }
  .persion-catgory a {
    font-family: "MyFont", sans-serif;
  }
  .persion-catgory h6 {
    font-size: 0.7rem;
    padding-left: 0;
    letter-spacing: 1.4px;
    margin-bottom: 20px;
  }
  footer {
    background-color: #f1ffff;
  }
  footer a {
    text-decoration: none;
    color: black;
  }
  
  @media screen and (max-width: 970px) {
    .persion-catgory {
      flex-direction: column;
      padding-top: 20px;
      padding-left: 20px;
      padding-bottom: 15px;
    }
    .persion-catgory ul {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      line-height: 0.5rem;
      font-size: 0.7 rem;
    }
    .persion-catgory h6 {
      margin-bottom: 8px;
      margin-top: 20px;
      letter-spacing: 1.6px;
      font-size: 0.75rem;
    }
  }
  /* ***************** */
  .app-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f1ffff;
    flex-wrap: wrap;
  }
  .app-section h4 {
    font-size: 0.7rem;
    font-family: "MyFont", sans-serif;
    letter-spacing: 1.2px;
  }
  .app-section.app-img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .app-section .app-img img {
    width: 8rem;
    padding: 0.3rem;
  }
  footer hr {
    border-top: 1px solid #00b0b5;
  }
  /* persion-catgory */
  /* payments-section */
  .payments-section-container {
    background-color: #f1ffff;
  }
  .payments-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1080px;
  
    padding: 1rem 0;
    margin: 0 auto;
  }
  .payments-section .left {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    gap: 1rem;
    font-family: "MyFont", sans-serif;
    font-size: 0.7rem;
  }
  .payments-section .center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    gap: 1rem;
    font-family: "MyFont", sans-serif;
    font-size: 0.7rem;
  }
  .payments-section .right {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    gap: 1rem;
  }
  .payments-section .right img {
    padding: 0.5rem;
    width: 3.7rem;
  }
  @media screen and (max-width: 950px) {
    .payments-section {
      flex-direction: column;
      align-items: start;
      padding-left: 30px;
    }
    .payments-section .right {
      margin-top: 25px;
    }
  }
  @media screen and (max-width: 425px) {
    .payments-section {
      padding-left: 10px;
    }
  }
  @media screen and (max-width: 425px) {
    .payments-section .right img {
      width: 55px;
    }
  }
  
