*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* nav */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* top mav bar section start */
div .top,nav{
    overflow: hidden;
}
.top {
    position: sticky;
    z-index: 6;
    top: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #FEF3BD;
    color: #A59F7B;
    font-size: 0.8rem;
}

.top-header-left ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
    padding: 0.3rem;
    color: #0009;
}

.top-header-right ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
    padding: 0.3rem;
}
.top-header-left ul li a{
    list-style: none;
    text-decoration: none;
    color: black;
}

.heading {
    color: black;
}


/* top mav bar section end   */
/* main nav bar start  */
.nav-bar {
    display: flex;
    position: sticky;
    top: 2rem;
    z-index: 5;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #00B0B5;
    gap: 2rem;
    color: #FFFFFF;
    /* padding: 0.5rem; */
}

.nav-bar .nav-left img {
    display: flex;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;

    width: 160px;
}

.nav-bar .nav-center>ul {
    position: relative;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 3.5rem;
    padding: 1rem;

}
/* ************************** */
 
.lists
{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
   opacity: 0;
   position: absolute;
   top: 30px;
   visibility: hidden;
   z-index: 1;
   transition: all 0.5s ease-in-out;
}

 li:hover .lists
{
   background-color:white;
   opacity: 0.8;
   top:60px;
   visibility: visible;
    color: black;
   
}
.nav-center .lists .list1 ul{
    list-style: none;

}
.nav-center .lists .list1 ul li:hover{
    border: none;
    cursor: pointer;
    color: #00B0B5;
}
.nav-center .lists .list1 h4{
    padding: 0.5rem 0;
    font-size: 0.85rem;
}

 


/* ****************************** */
.nav-bar .nav-center>ul li a
{
    color: white;
    text-decoration: none;
}

.nav-bar .nav-center>ul li:hover{
    border-bottom: 2px solid yellow;
}

.nav-bar .nav-right {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.nav-bar .nav-right input {

    background-color: transparent;
    border: 1px solid white;
    color: white;
    height: 2rem;
    width: 220px;
    padding: 0.5rem;
    border-radius: .5rem;

}

.nav-bar .nav-right form input::placeholder {
    color: white;
}

/* @media only screen and (max-width: 600px) {
    .nav-bar {

        width: 100vw;
        height: 15vh;

    }
}

@media only screen and (max-width: 600px) {
    .nav-bar {

        font-size:smaller;
        flex-direction:column;
        overflow-x: scroll;

        

    }
} */

/* main nav bar end  */
/* ******************************************************************** */
.sliding-button {
    position: relative;
    margin: 0.2rem;
    width: 40px;
    height: 10px;
    background-color: #ccc;
    border-radius: 15px;
    overflow: hidden;
}


/* The sliding button itself */
.sliding-button input {
    display: none;
}

/* The sliding button's label (the visible part) */
.sliding-button label {
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 50%;
    height: 100%;
    background-color: #ACB4B0;
    transition: transform 0.3s ease;
}

.sliding-button input[type="checkbox"]:checked+label {
    transform: translateX(100%);
}

/* main */
main{
    display: flex;
    
    width: 100%;
    height: auto;
    overflow-x: hidden;
    position: relative;
}
main .img{
    width: 100%;
    height: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
  animation: scroll 10s linear infinite; 
}
@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
main .img img{
    width: 100%;
    height: 100%;
}
main p {
    background-color: rgb(253, 247, 121);
    text-align: center;
    
}
main p a{
    color:var(--black);
}

/* section-deals */
.deals{
    width: 100%;
    min-height: 50vh;
    /* border: 2px solid red; */
    background-image: url(Assets/deal-bg-img.avif);
    padding: 2rem 15vw;
    
}
.deals-navbar{
    display: flex;
    justify-content: space-between;
}
.deal-con{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.deal-card{
    width: 15%;
    flex-shrink: 0;
    height: auto;
    /* border: 3px solid white; */
    background-color: white;
    padding: .3rem;
}
.deal-card .deal-img{
    width: 100%;
    height: auto;
    /* padding: .3rem; */
}
.deal-card .deal-img img{
    width: 100%;
    height: auto;
}
.img-des{
    display: flex;
    flex-direction: column;
}
div.bargain{
    font-weight: 600;
    font-size: 1rem;
}
.img-des .bargain{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.product-price .actual-price{
    color: var(--grey);
}
/* new-img-arrival */
.new-arrival{
    padding: 2rem 15vw;
}
.new-arrival .new-arr-con{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}
.new-arrival .new-arr-con .new-card{
    width: 25%;
    height: auto;
    flex-shrink: 0;
}
.new-card .new-img{
    width: 100%;
    height: auto;
}
.new-card .new-img img{
    width: 100%;
    height: auto;
}
.new-arrival .new-img-desc{
    display: flex;
    flex-direction: column;
    column-gap: .2rem;
}
/* style-finder */
.style-finder{
    padding: 2rem 15vw;
}
.style-finder .img{
    width: 100%;
    height: auto;
}
.style-finder .img img{
    width: 100%;
    height: auto;
}


.fresh-fits{
    padding: 2rem 25vh;
    display: flex;
    column-gap: 1rem;
}
.fresh-fits .fresh-img{
    display: flex;
    width: 50%;
    height: auto;
    flex-shrink: 0;
}
.fresh-fits .fresh-img img{
    width: 100%;
    height: auto;
}
/* shop-the-look */
.shop-the-look{
    padding: 2rem 15vw;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.shop-the-look .shop-heading{
    display: flex;
    justify-content: space-between;
}
.shop-the-look .shop-heading .variation{
    display: flex;
   column-gap: 1rem;


}
.shop-the-look .shop-heading .variation span{
    padding:0.3rem 1rem;
    /* border: 2px solid red; */
    background-color: aliceblue;
    border-radius:2rem;
    box-shadow: 1px 2px 3px var(--black);
}



.shop-img-con{
    display: flex;
    /* column-gap: 2rem; */
    justify-content: space-around;
}
.shop-img-con .shop-img-card{
    width: 25%;
    flex-shrink: 0;

}
.shop-img-card .img{
    width: 100%;
    height: auto;
}
.shop-img-card .img img{
    width: 100%;
    height: auto;
}

/* brands-you-love */
.brands-you-love{
    padding: 2rem 15vw;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    /* border: 2px solid red; */
}
.brands-you-love .heading{
    display: flex;
    justify-content: space-between;
}
.brands-con{
    /* border: 2px solid red; */
    display: flex;
    column-gap: 2rem;
}
.brands-con .img-card{
    width: 20%;
    height: auto;
    /* border: 1px solid red; */
    position: relative;
}
.brands-con .img-card .img{
    width: 100%;
    height: auto;
    border-radius: 1rem;
}
.brands-con .img-card .img img{
    width: 100%;
    height: auto;
    border-radius: 1rem;
}
.img-card>img{
    width: 60%;
    border-top-right-radius: 0.7rem;
    position: absolute;
    bottom: 0;
    left: 0;
}
/* video */
.pantaloons-video
{
    padding: 2rem 15vw;
}
  .pantaloons-video video{
    /* border: 2px solid red; */
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

/* inspirations */
.inspirations{
    padding: 2rem 15vw;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.inspirations .insp-con{
    display: flex;
    column-gap: 2rem;
}
.insp-con .img-box{
    width: 25%;
    height: auto;
    /* border: 1px solid red; */
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}
.insp-con .img{
    width: 100%;
    height: auto;
}
.insp-con .img img{
    width: 100%;
    height: auto;
    border-radius: .7rem;
}

/* gift-card */
.gift-card{
    padding: 2rem 15vw;
}
.gift-card .gift-card-con{
    min-height: 45vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("Assets/giftcardbg-bg.webp");
    background-position: center;
    background-size: cover;
}
.gift-card-con .left{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    text-align: center;
    width: 50%;
    flex-shrink: 0;
}
.gift-card-con .right{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-shrink: 0;
    /* border: 2px solid red; */
}
.gift-card-con .right .img{
width: 100%;
height: auto;
/* border: 2px solid red; */

}
.gift-card-con .right img{
    width: 100%;
    height: auto;
}


/* greencard */
.green-card{
    padding: 2rem 15vw;
}

.greencard-con{
    display: flex;
    /* border: 2px solid red; */
    padding: 2rem 1rem;
    background-color: #d2fdff;
}
.greencard-con .left{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 50%;
    flex-shrink: 0;
    text-align: center;
}
.green-card .left .img{
    width: 100%;
    height: auto;
}
.green-card .left img{
    width: 70%;
    height: auto;
}
.green-card .right{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}
/* store */
.store{
    padding: 2rem 15vw;
}
.store >div{
    background-image: url("Assets/get-100-off.jpg");
    width:100%;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.store .app{
    display: flex;
    column-gap: 1rem;

    /* border: 2px solid red; */
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}
.store .app img{
    height: 5rem;
    width: 6rem;
}



@media screen and (max-width:873px) {
    html{
        font-size: 13px;
    }
    .inspirations .insp-con{
        display: flex;
        column-gap: 2rem;
        overflow-x: hidden;
        position: relative;
    }
    .insp-con .img-box{
        width: 29%;
        height: auto;
        /* border: 1px solid red; */
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        animation: scrollx 5s linear infinite;
        
    }
}
@media screen and (max-width:765px){
html{
    font-size: 10px;
}
.deal-con{
    overflow-x: hidden;
    position: relative;
    /* border: 2px solid red; */
    
}
.deal-card{
    width: 33%;
    flex-shrink: 0;
    height: auto;
    /* border: 3px solid white; */
    background-color: white;
    padding: .3rem;
    white-space: nowrap;
    animation: scrollx 5s linear infinite;
}
.new-arrival .new-arr-con{
    overflow-x: hidden;
    position: relative;
}
.new-arrival .new-arr-con .new-card{
    width: 30%;
    height: auto;
    white-space: nowrap;
    animation: scrollx 5s linear infinite;

}
@keyframes scrollx {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
.shop-the-look .shop-heading .variation span{
    /* padding:0 1rem; */
    padding: .7rem;
    /* border: 2px solid red; */
    background-color: aliceblue;
    border-radius:2rem;
    box-shadow: 1px 2px 3px var(--black);
}
.gift-card .gift-card-con{
 display: flex;
 flex-direction: column;
 row-gap: .7rem;
}
.gift-card-con .left,.gift-card-con .right{
    /* border: 2px solid red; */
    
    width: 70%;
    flex-shrink: 0;
}


}
/* ************************************ */

/* webnews-latter  */
.webnews-latter
{
    padding: 1rem 12rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}
.webnews-latter .center-section form input{
    width: 250px;
    padding: 0.5rem 1rem;
}
.webnews-latter .right-section  
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.webnews-latter .right-section span a i{
    color:black;
}


/* webnews-latter */
/* mui-container-root */
.mui-container-root
{
    padding: 2rem 12rem;
    background-color: #D2FDFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.mui-container-root img
{
    width: 50px;
    padding-bottom: 2rem;
}
.mui-container-root span p
{
    font-size: 0.8rem;
}
.mui-container-root span
{
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    flex-wrap: wrap;
}
/* mui-container-root */
/* ******************************************************************** */
.footer-shop-info
{
   background-color: #F1FFFF;
   padding: 2rem 12rem;

} 
.footer-shop-info h3
{
   font-size: 0.8rem;
   letter-spacing: 0.1rem;
   padding-bottom: 1rem;
}
.footer-shop-info ul li{
   list-style: none;
   padding: 0.5rem;
   font-size: 0.85rem;
}
.footer-shop-info ul li a
{
   color: black;
}
.footer-shop-info h4{
   font-size: 0.9rem;
   padding: 2rem 0;
}
.footer-shop-info h5
{
   font-size: 0.9rem;
   letter-spacing: 0.1rem;
   padding: 1rem 0;
}
.footer-shop-info p{
   font-size: 0.8rem;
   color:rgb(71, 66, 66);
}
.footer-shop-info p a{
   color: black;
}


/* ********************************************************************* */
.persion-catgory
{
    padding: 1rem 12rem;
    display: flex;
    justify-content:space-between;
    text-align: left;
    flex-wrap: wrap;
}
.persion-catgory ul
{
    font-size: 0.75rem;
    list-style: none;
    line-height: 1rem;
}
.persion-catgory h6
{
    padding: 1rem;
    font-size: 0.7rem;
    padding-left: 0;
}
  /* ***************** */
  .app-section
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    flex-wrap: wrap;
  }
  .app-section h4{
    font-size: 0.8rem;
  }
  .app-section.app-img
  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .app-section .app-img img{
    width:8rem;
    padding: 0.3rem;
  }
footer{
    background-color: #F1FFFF;
}
/* persion-catgory */

/* payments-section */
.payments-section
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.6rem 10rem;
    flex-wrap: wrap;
}
.payments-section .left 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.8rem;
    gap: 1rem;
}
.payments-section .center 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.8rem;
    gap: 1rem;
}
.payments-section .right  
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 0.8rem;
    gap: 1rem;
}
.payments-section .right img
{
    padding: 0.5rem;
    width: 3.7rem
}

@media screen and (max-width:1319px) {
    body > div.webnews-latter > div.center-section > form > input[type=text]{
        display: none;
    }
}
/* payments-section */